<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Great Number Game</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the Great Number Game!</h1>
    <p style="text-align: center;">I am thinking of a number between 1 and 100</p>
    <p style="text-align: center;">Take a guess!</p>
    {% if session['userguess'] == "":%}
    <form action="/answer" method="POST">
        <input type="text" name="guess">
        <input type="submit" value="Take a guess!">
    </form>
    {% endif %}
    {% if session['userguess'] != "":  %}
        {% if session['userguess'] |int  > session['answer']: %}
            <h1>Too big</h1>
            <form action="/answer" method="POST">
                <input type="text" name="guess">
                <input type="submit" value="Take a guess!">
            </form>
        {% endif %}
        {% if session['userguess'] |int < session['answer']: %}
            <h1>Too low</h1>
            <form action="/answer" method="POST">
                <input type="text" name="guess">
                <input type="submit" value="Take a guess!">
            </form>
        {% endif %}
        {% if session['userguess'] |int == session['answer']: %}
            <h1>Correct!</h1>
            <form action="/startover" method="POST">
            <input type="submit" value="Play again?">
            </form>
        {% endif %}
    {% endif %}




</body>
</html>